<app-loading *ngIf="isLoading"></app-loading>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="lg:pl-96 lg:pr-96">
<app-title title="Aggiungi contatto"></app-title>
<app-subtitle subtitle="Aggiungi un contatto, il metodo di contatto può essere quelo che si preferisce di più!"></app-subtitle>

<form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="mt-8">
  <div class="flex flex-col mb-3">
    <label for="title">Contatto</label>
    <input type="email" class="bg-secondary w-full p-2 rounded-md text-black" id="email" formControlName="email" placeholder="Contatto">
  </div>
  
  <div class="flex flex-col mb-3 ">
    <label for="name">Name</label>
    <input type="text" class="bg-secondary w-full p-2 rounded-md text-black" id="name" formControlName="name" placeholder="name">
  </div>

  <div class="flex flex-col mb-3 ">
      <label for="surname">Surname</label>
      <input type="text" class="bg-secondary w-full p-2 rounded-md text-black" id="surname" formControlName="surname" placeholder="surname">
  </div>

  <div class="flex flex-col mb-3 ">
    <label for="company">Company</label>
    <input type="text" class="bg-secondary w-full p-2 rounded-md text-black" id="company" formControlName="company" placeholder="company">
  </div>

  <div class="flex flex-col items-center">
    <button type="submit" class="flex bg-primary  text-black pl-8 pr-8 pt-2 pb-2 mb-3 rounded-3xl">Aggiungi utente</button>
  </div>
</form>
</div>