<app-loading *ngIf="isLoading"></app-loading>

<div class="lg:pl-96 lg:pr-96 pt-20">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <app-title title="Amministrazione"></app-title>
  <app-subtitle subtitle="Gestisci tutti le carte del contatto selezionato"></app-subtitle>

  <div class="mb-4 mt-4" >
    <div class="flex flex-row mb-3 justify-between">
        <label for="textColor" class="flex text-[20px] font-[700]">QR Code: </label>
        <!--<a class="flex text-primary text-medium_text underline cursor-pointer lg:text-subtitle">Preview</a>-->
    </div>

    <div class="flex flex-row mb-3 justify-between">
      <label for="backgroundColor" class="flex text-[20px] font-[400]">Colore sfondo: </label>
      <input type="color" id="backgroundColor" (change)="changeBackgroundColor($event)"/>
    </div>
    
    <div class="flex flex-row mb-3 justify-between">
        <label for="textColor" class="flex text-[20px] font-[400]">Colore del codice: </label>
        <input type="color" id="codColor" (change)="changeCodeColor($event)"/>
    </div>
  </div>
  
  <div>
    <div *ngFor="let card of cards; index as i">
      <div class="pb-2 flex">
          <div class="flex sm:hidden lg:block mr-4">
            <qrcode 
              (qrCodeURL)="setCardUrl($event, i)" 
              [colorLight]="backgroundColor" 
              [colorDark]="codeColor" 
              [qrdata]="link + card.token" 
              [elementType]="'canvas'"
              [errorCorrectionLevel]="'L'"
              [scale]="1"
              [width]="30"
            ></qrcode>
          </div>
          <div class="flex flex-col text-subtitle w-full">
            <div *ngIf="!changeNameVisibilty[i]" class="flex text-[20px] font-[700] lg:h-1/6" (click)="seeInput(i)">
              {{ card.name }} {{ card.surname }}
              <mat-icon class="text-primary ml-2">edit</mat-icon>
            </div>

            <form [formGroup]="myOtherForm" (ngSubmit)="saveNameSurname(i)" *ngIf="changeNameVisibilty[i]" class="flex flex-row lg:h-1/6">
              <div class="flex items-center border-b border-gray-500 py-2 mr-2">
                <input class="appearance-none bg-transparent border-none w-full text-white mr-3 py-1 px-2 leading-tight focus:outline-none"
                placeholder="Nome" type="text" id="name" formControlName="name">
              </div>
            
              <div class="flex items-center border-b border-gray-500 py-2">
                <input class="appearance-none bg-transparent border-none w-full text-white mr-3 py-1 px-2 leading-tight focus:outline-none"
                placeholder="Cognome" type="text" id="surname" formControlName="surname">
              </div>

              <button type="submit" class="flex bg-transparent text-primary_text pl-2 pr-2 pt-2 pb-1 rounded-full">
                <mat-icon>save</mat-icon>
              </button>
              <button class="flex bg-transparent text-primary_text pl-2 pr-2 pt-2 pb-1 rounded-full" (click)="seeInput(i)">
                <mat-icon>close</mat-icon>
              </button>
            </form>

            <div class="flex flex-row w-full justify-between lg:h-1/6">
                <div class="flex">Link da associare</div>
                <a class="flex text-primary text-medium_text underline cursor-pointer lg:text-subtitle"  (click)="copy(link + card.token)">Copia</a>
            </div>
            <div class="flex flex-row w-full justify-between lg:h-1/6">
              <div class="flex">QR code</div>
              <a class="flex text-primary text-medium_text underline cursor-pointer lg:text-subtitle" [href]="card.qrCode" download="qrcode">Scarica</a>
            </div>
            <div class=" lg:h-1/6"></div>
            <div class="flex flex-row w-full justify-between lg:h-1/6">
              <div class="flex"></div>
              <a class="flex text-primary text-medium_text underline cursor-pointer lg:text-subtitle" 
              (click)="delete(card.token, card.name, card.surname)">Elimina carta</a>
            </div>
          </div>
      </div>
      <hr class="pt-2">
    </div>
  </div>

  <div class="flex flex-col w-full items-end">
    <app-plus-button (action)="addCardVisibilty()"></app-plus-button>
  </div>
</div>


<div *ngIf="isVisibleAddCard" class="obscure z-40" (click)="addCardVisibilty()"></div>
<div *ngIf="isVisibleAddCard" class="fixed z-50 top-8 w-screen flex items-center justify-center -ml-8">
  <form  [formGroup]="myForm" (ngSubmit)="onSubmit()" class="bg-black text-black pr-8 pl-8 pt-2 pb-2 rounded-xl">
    <div class="flex flex-col mb-3 ">
      <label for="name">Name</label>
      <input type="text" class="bg-secondary w-full p-2 rounded-md text-black" id="name" formControlName="name" placeholder="Nome">
    </div>
  
    <div class="flex flex-col mb-3 ">
        <label for="surname">Surname</label>
        <input type="text" class="bg-secondary w-full p-2 rounded-md text-black" id="surname" formControlName="surname" placeholder="Cognome">
    </div>
    
    <div class="flex flex-col items-center">
      <button type="submit" class="flex bg-primary  text-black pl-8 pr-8 pt-2 pb-2 mb-3 rounded-3xl">Aggiungi carta</button>
    </div>
  </form>
</div>

<div *ngIf="isVisible" class="fixed z-10 top-8 w-screen flex items-center justify-center -ml-8">
  <div class="bg-primary text-black pr-8 pl-8 pt-2 pb-2 rounded-full font-bold">
    Copiato con successo
  </div>
</div>