<app-loading *ngIf="isLoading"></app-loading>

<div class="lg:pl-96 lg:pr-96">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <app-title title="Amministrazione"></app-title>

  <div class="shadow-lg rounded-md p-2 mb-4" >
    <div class="flex flex-row mb-3 justify-between">
        <label for="textColor" class="flex text-[20px] font-[700]">QR Code: </label>
        <!--<a class="flex text-primary text-medium_text underline cursor-pointer lg:text-subtitle">Preview</a>-->
    </div>

    <div class="flex flex-row mb-3 justify-between">
      <label for="backgroundColor" class="flex text-[20px] font-[400]">Colore sfondo: </label>
      <input type="color" id="backgroundColor" (change)="changeBackgroundColor($event)"/>
    </div>
    
    <div class="flex flex-row mb-3 justify-between">
        <label for="textColor" class="flex text-[20px] font-[400]">Colore del codice: </label>
        <input type="color" id="codColor" (change)="changeCodeColor($event)"/>
    </div>
  </div>
  
  <div class="shadow-lg rounded-md p-2" >
    <div *ngFor="let card of cards; index as i">
      <div class="pb-2 flex">
          <div class="flex sm:hidden lg:block mr-4">
            <qrcode 
              (qrCodeURL)="setCardUrl($event, i)" 
              [colorLight]="backgroundColor" 
              [colorDark]="codeColor" 
              [qrdata]="link + card.token" 
              [elementType]="'canvas'"
              [errorCorrectionLevel]="'L'"
              [scale]="1"
              [width]="30"
            ></qrcode>
          </div>
          <div class="flex flex-col text-subtitle w-full">
            <div class="flex text-[20px] font-[700]">{{ card.name }} {{ card.surname }}</div>
            <div class="flex flex-row w-full justify-between">
                <div class="flex">Link da associare</div>
                <a class="flex text-primary text-medium_text underline cursor-pointer lg:text-subtitle"  (click)="copy(link + card.token)">Copia</a>
            </div>
            <div class="flex flex-row w-full justify-between">
              <div class="flex">QR code</div>
              <a class="flex text-primary text-medium_text underline cursor-pointer lg:text-subtitle" [href]="card.qrCode" download="qrcode">Scarica</a>
            </div>
          </div>
      </div>
      <hr class="pt-2">
    </div>
  </div>

  <div class="flex flex-col w-full items-end">
    <button type="button" class="flex bg-primary  text-black pl-2 pr-2 pt-2 pb-2 mb-3 rounded-full" (click)="addCardVisibilty()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>


<div *ngIf="isVisibleAddCard" class="obscure z-40" (click)="addCardVisibilty()"></div>
<div *ngIf="isVisibleAddCard" class="fixed z-50 top-8 w-screen flex items-center justify-center">
  <form  [formGroup]="myForm" (ngSubmit)="onSubmit()" class="bg-black border border-primary text-black pr-8 pl-8 pt-2 pb-2 rounded-xl">
    <div class="flex flex-col mb-3 ">
      <label for="name">Name</label>
      <input type="text" class="bg-secondary w-full p-2 rounded-md text-black" id="name" formControlName="name" placeholder="name">
    </div>
  
    <div class="flex flex-col mb-3 ">
        <label for="surname">Surname</label>
        <input type="text" class="bg-secondary w-full p-2 rounded-md text-black" id="surname" formControlName="surname" placeholder="surname">
    </div>
    
    <div class="flex flex-col items-center">
      <button type="submit" class="flex bg-primary  text-black pl-8 pr-8 pt-2 pb-2 mb-3 rounded-3xl">Aggiungi carta</button>
    </div>
  </form>
</div>

<div *ngIf="isVisible" class="fixed z-10 top-8 w-screen flex items-center justify-center">
  <div class="bg-primary text-black pr-8 pl-8 pt-2 pb-2 rounded-full font-bold">
    Copiato con successo
  </div>
</div>