<div class="p-10">
  <h3 class="flex text-xl font-bold mb-3">
      <app-my-button path="/admin"></app-my-button>
      Dettagli carte utente {{ email }}
  </h3>
  <div class="flex flex-col border ">
    <div class="flex flex-row font-bold">
        <div class="flex w-1/2 border p-2">
          ID
        </div>
        <div class="flex w-1/2 border p-2">
          Link da associare
        </div>
    </div>

    <div class="flex flex-row" *ngFor="let card of cards">
      <div class="flex w-1/2 border p-2">
        {{ card.id }}
      </div>
      <div class="flex w-1/2 border p-2">
        <!--<a href="{{ link + card.token }}">{{ link + card.token }}</a>-->
        <button class="bg-slate-200 rounded-3xl p-2 pl-4 pr-4" (click)="copy(link + card.token)">copy</button>
      </div>
    </div>
  </div>
  <div class="mt-8 w-full content-end">
    <button (click)="addCard()" class="bg-slate-200 w-44 rounded-3xl p-2">Aggiungi carta</button>
  </div>
</div>
  