<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="flex flex-col mt-10 items-center">

  <div class="flex flex-col w-80 shadow-xl p-8 rounded-3xl">
    <h3 class="flex text-xl font-bold mb-3">Accedi</h3>
    <div *ngIf="isVisible" class="text-red-400 pb-6 w-full">
      Email o password non corretti
    </div>

    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">

      <div class="flex flex-row mb-3 w-64">
        <input type="email" class="form-control" id="email" formControlName="email" placeholder="Email">
      </div>

      <div class="flex flex-row mb-3 w-64 items-center" *ngIf="showPassword">
        <input class="flex" type="text" class="form-control" id="password" formControlName="password" placeholder="Password">

        <span class="flex" (click)="togglePassword()">
          <span *ngIf="showPassword"><mat-icon class="flex">visibility_off</mat-icon></span>
        </span>
      </div>

      <div class="flex flex-row mb-3 w-64 items-center" *ngIf="!showPassword">
        <input class="flex" type="password" class="form-control" id="password" formControlName="password" placeholder="Password">

        <span class="flex" (click)="togglePassword()">
          <span *ngIf="!showPassword"><mat-icon class="flex">visibility</mat-icon></span>
        </span>
      </div>
      
      <div class="flex flex-col items-center">
        <button type="submit" class="flex bg-primary pl-8 pr-8 pt-2 pb-2 mb-3 rounded-3xl">Accedi</button>
      </div>
    </form>
    <div class="flex flex-col items-center">
      <button (click)="forgotPassword()" class="flex bg-primary pl-8 pr-8 pt-2 pb-2 rounded-3xl">Password dimenticata?</button>
    </div>
  </div>
</div>
  