<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<app-title title="Hey, welcome back!"></app-title>


<div *ngIf="isVisible" class="text-red-400 pb-6 w-full">
  Email o password non corretti
</div>

<form [formGroup]="myForm" (ngSubmit)="onSubmit()">

  <div class="mb-4">
    <div class="flex items-center border-b border-gray-500 py-2">
      <input class="appearance-none bg-transparent border-none w-full text-white mr-3 py-1 px-2 leading-tight focus:outline-none"
      placeholder="E-mail" type="email" id="email" formControlName="email">
      <span class="text-gray-500">
        <mat-icon class="flex">person</mat-icon>
      </span>
    </div>
  </div>

  <div *ngIf="showPassword">
    <div class="flex items-center border-b border-gray-500 py-2">
      <input class="appearance-none bg-transparent border-none w-full text-white mr-3 py-1 px-2 leading-tight focus:outline-none"
      placeholder="Password" type="text" id="password" formControlName="password">
      <span class="text-gray-500" (click)="togglePassword()">
        <mat-icon class="flex">visibility_off</mat-icon>
      </span>
    </div>
  </div>


  <div *ngIf="!showPassword">
    <div class="flex items-center border-b border-gray-500 py-2">
      <input class="appearance-none bg-transparent border-none w-full text-white mr-3 py-1 px-2 leading-tight focus:outline-none"
      placeholder="Password*" type="password" id="password" formControlName="password">
      <span class="text-gray-500" (click)="togglePassword()">
        <mat-icon class="flex">visibility</mat-icon>
      </span>
    </div>
  </div>
  <div class="flex flex-row w-full justify-end text-medium_text font-medium mb-4">
    <a class="flex text-primary underline" (click)="forgotPassword()">Forgot password?</a>
  </div>
  
  <div class="flex flex-col items-center">
    <button type="submit" class="flex bg-primary  text-black pl-8 pr-8 pt-4 pb-4 mb-3 rounded-full">Login</button>
  </div>
</form>

  
<div class="flex flex-row w-full justify-center text-tiny_text font-normal" *ngIf="token">
  <div class="flex mr-2">Non sei registrato? </div>
  <a class="flex text-primary" (click)="register()"> Crea un account!</a>
</div>