<div class="flex flex-col mt-10 items-center">
    <div class="flex flex-col w-96 shadow-xl p-8 rounded-3xl">
        
        <h3 class="flex text-xl font-bold mb-3">
            <app-my-button path="/settings"></app-my-button>
            Impostazioni stile carta
        </h3>

        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            
            <div class="flex flex-row mb-3 w-80">
                <label for="backgroundColor" class="flex w-4/5">Colore sfondo: </label>
                <input type="color" id="backgroundColor" formControlName="backgroundColor" />
            </div>
            
            <div class="flex flex-row mb-3 w-80">
                <label for="backgroundColor" class="flex w-4/5">Colore del testo: </label>
                <input type="color" id="textColor" formControlName="textColor" />
            </div>
            
            <div class="flex flex-row mb-3 w-80">
                <label for="backgroundColor" class="flex w-4/5">Colore del bottone: </label>
                <input type="color" id="buttonColor" formControlName="buttonColor" />
            </div>
            
            <div class="flex flex-col items-center">
                <button type="submit" class="flex bg-slate-200 pl-8 pr-8 pt-2 pb-2 mb-3 rounded-3xl">Save change</button>
            </div>
        </form>
    </div>    
</div>