img {
    height: 100px;
    width: auto;
}

.add-contact {
    color: white;
    padding: 10px 50px;
    border-radius: 4px;
    border-width: 0px;
    background-color: black;
    font-size: x-small;
}

.color-pick {
    width:100px;
      height:100px;
      overflow: hidden;
      border-radius:100%;
  }
  input[type='color'] {
      width:20px;
      height:20px;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #0000001A;
      transform: scale(1.5);
  }