
<div class="flex flex-col w-96 shadow-xl p-8 rounded-3xl">
    
<h3 class="flex text-xl font-bold mb-3">
    <app-my-button path="/settings"></app-my-button>
    Impostazioni dati carta
</h3>

<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    
    <div class="flex flex-col mb-2">
        <div class="flex flex-col items-center">
            <img src="{{ card.img }}" class="flex h-1/4 mb-3 rounded-full">
        </div>
    </div>

    <div class="flex flex-col mb-3 w-80">
        <label for="img">Image</label>
        <input type="file" accept=".jpg, .jpeg, .png" 
        (change)="processFile($event)" class="form-control" id="img" 
        formControlName="img" placeholder="Image" maxFileSize="5 * 1024 * 1024">
    </div>

    <hr class="my-4" />

    <div class="flex flex-col mb-3 w-80">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" formControlName="name" placeholder="name">
    </div>

    <div class="flex flex-col mb-3 w-80">
        <label for="surname">Surname</label>
        <input type="text" class="form-control" id="surname" formControlName="surname" placeholder="surname">
    </div>

    <div class="flex flex-col mb-3 w-80">
        <label for="company">Company</label>
        <input type="text" class="form-control" id="company" formControlName="company" placeholder="company">
    </div>

    <div class="flex flex-col mb-3 w-80">
        <label for="function">Function</label>
        <input type="text" class="form-control" id="function" formControlName="function" placeholder="function">
    </div>

    
    <hr class="my-4" />
    <div class="flex flex-col mb-3 w-80">
        <label>Email</label>
    </div>
    <div>
        <div formArrayName="emails">
            <div *ngFor="let email of emailControls; let i = index" class="flex flex-row">
                <div class="flex flex-col mb-3 w-60">
                    <input type="email" class="form-control" id="inputEmail" [formControlName]="i" placeholder="Email">
                </div>
                <button *ngIf="i != 0" type="button" (click)="removeEmail(i)" class="flex bg-primary  text-black ml-2 pl-2 pr-2 pt-2 pb-2 mb-3 rounded-full">
                    <mat-icon>remove</mat-icon>
                </button>
            </div>
        </div>

        <button type="button" class="flex bg-secondary  text-primary pl-2 pr-2 pt-2 pb-2 mb-3 rounded-full" (click)="addEmail()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <hr class="my-4" />

    <div class="flex flex-col mb-3 w-80">
        <label>Numeri di telefono</label>
    </div>
    <div>
        <div formArrayName="phoneNumbers">
            <div *ngFor="let phoneNumber of phoneNumberControls; let i = index" class="flex flex-row">
                <div class="flex flex-col mb-3 w-60">
                    <input type="text" class="form-control" id="inputPhoneNumber" [formControlName]="i" placeholder="Numero di telefono">
                </div>
                <button *ngIf="i != 0" type="button" (click)="removePhoneNumber(i)" class="flex  bg-secondary  text-primary ml-2 pl-2 pr-2 pt-2 pb-2 mb-3 rounded-full">
                    <mat-icon>remove</mat-icon>
                </button>
            </div>
        </div>

        <button type="button" class="flex  bg-secondary  text-primary pl-2 pr-2 pt-2 pb-2 mb-3 rounded-full" (click)="addPhoneNumber()">
            <mat-icon>add</mat-icon>
        </button>
    </div>

    <hr class="my-4" />

    <div class="flex flex-col mb-3 w-80">
        <label>Link</label>
    </div>
    <div>
        <div formArrayName="links">
            <div *ngFor="let link of linkControls; let i = index" class="flex flex-row">
                <div class="flex flex-col mb-3 w-60">
                    <input type="text" class="form-control" id="inputLink" [formControlName]="i" placeholder="Link">
                </div>
                <button *ngIf="i != 0" type="button" (click)="removeLink(i)" class="flex  bg-secondary  text-primary ml-2 pl-2 pr-2 pt-2 pb-2 mb-3 rounded-full">
                    <mat-icon>remove</mat-icon>
                </button>
            </div>
        </div>

        <button type="button" class="flex  bg-secondary  text-primary pl-2 pr-2 pt-2 pb-2 mb-3 rounded-full" (click)="addLink()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <hr class="my-4" />
    
    <div class="flex flex-col mb-3 w-80">
        <label for="inputInstagramLink">Link Instagram  (lasciare vuoto se nessuno)</label>
        <input type="text" class="form-control" id="inputInstagramLink" formControlName="instagram" />
    </div>
    
    <div class="flex flex-col mb-3 w-80">
        <label for="inputFacebookLink">Link Facebook  (lasciare vuoto se nessuno)</label>
        <input type="text" class="form-control" id="inputFacebookLink" formControlName="facebook" />
    </div>

    <div class="flex flex-col mb-3 w-80">
        <label for="inputLinkedinLink">Link Linkedin (lasciare vuoto se nessuno)</label>
        <input type="text" class="form-control" id="inputLinkedinLink" formControlName="linkedin" />
    </div>

    <hr class="my-4" />
    <div class="flex flex-col mb-3 w-80">
        <label>Indirizzi</label>
    </div>
    
    <div>
        <div formArrayName="addresses">
            <div *ngFor="let address of addresses.controls; let i = index" [formGroupName]="i">
                <div class="flex flex-row">
                    <div class="flex flex-col mb-3 w-40">
                        <input type="text" class="form-control" [formControlName]="street_name" id="inputAddressStreet"  placeholder="Via">
                    </div>
                    <div class="flex flex-col mb-3 w-40 pl-2">
                        <input type="text" class="form-control" [formControlName]="street_number"  id="inputAddressNumber" placeholder="Numero">
                    </div>
                </div>     
                <div class="flex flex-row">
                    <div class="flex flex-col mb-3 w-40">
                        <input type="text" class="form-control" [formControlName]="cap"  id="inputAddressCap" placeholder="CAP">
                    </div>
                    <div class="flex flex-col mb-3 w-40 ml-2">
                        <input type="text" class="form-control" [formControlName]="city"  id="inputAddressCity" placeholder="Citta">
                    </div>
                </div>     
                <div class="flex flex-row">
                    <div class="flex flex-col mb-3 w-40">
                        <input type="text" class="form-control" [formControlName]="nation"  id="inputAddressNation" placeholder="Nazione">
                    </div>
                    <button *ngIf="i != 0" type="button" class="flex bg-primary  text-black ml-2 pl-2 pr-2 pt-2 pb-2 mb-3 rounded-full" (click)="removeAddress(i)">
                        <mat-icon>remove</mat-icon>
                    </button>
                </div>  
            </div>
        </div>        

        <button type="button" class="flex bg-secondary  text-primary pl-2 pr-2 pt-2 pb-2 mb-3 rounded-full" (click)="addAddress()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <hr class="my-4" />


    <div class="flex flex-col items-center">
        <button type="submit" class="flex bg-primary  text-black pl-8 pr-8 pt-2 pb-2 mb-3 rounded-3xl">Save change</button>
    </div>
</form>
<!-- 
<div class="flex flex-col mt-10 items-center ml-10 sm:ml-1">
<div class="flex flex-col w-96 shadow-xl p-8 rounded-3xl">
    
    <h3 class="flex text-xl font-bold mb-3">
        Impostazioni stile carta
    </h3>

    <form [formGroup]="myStyleForm" (ngSubmit)="onStyleSubmit()">
        
        <div class="flex flex-row mb-3 w-80">
            <label for="backgroundColor" class="flex w-4/5">Colore sfondo: </label>
            <input type="color" id="backgroundColor" formControlName="backgroundColor" />
        </div>
        
        <div class="flex flex-row mb-3 w-80">
            <label for="textColor" class="flex w-4/5">Colore del testo: </label>
            <input type="color" id="textColor" formControlName="textColor"/>
        </div>
        
        <div class="flex flex-row mb-3 w-80">
            <label for="buttonColor" class="flex w-4/5">Colore del bottone: </label>
            <input type="color" id="buttonColor" formControlName="buttonColor" />
        </div>
        
        <div class="flex flex-col items-center">
            <button type="submit" class="flex bg-primary  text-black pl-8 pr-8 pt-2 pb-2 mb-3 rounded-3xl">Save change</button>
        </div>
    </form>
</div>    
</div> -->