<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h3>Impostazioni dati carta</h3>
                </div>
                <div class="card">
                    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                        <div class="row mt-5 align-items-center">
                            <div class="col-md-3 text-center mb-5">
                                <div class="avatar avatar-xl">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="..." class="avatar-img rounded-circle" />
                                </div>
                            </div>
                        </div>
                        <hr class="my-4" />
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="title">Title</label>
                                <input type="text" id="title" class="form-control" formControlName="title" />
                            </div>
                            <div class="form-group col-md-6">
                                <label for="subtitle">Subtitle</label>
                                <input type="text" id="subtitle" class="form-control" formControlName="subtitle" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail4">Email</label>
                            <input type="email" class="form-control" id="inputEmail" formControlName="emails" />
                        </div>
                        <div class="form-group">
                            <label for="inputPhoneNumber">Phone number</label>
                            <input type="text" class="form-control" id="inputPhoneNumber" formControlName="phoneNumbers" />
                        </div>
                        <div class="form-group">
                            <label for="inputLink">Link</label>
                            <input type="text" class="form-control" id="inputLink" formControlName="links" />
                        </div>
                        <div class="form-group">
                            <label for="inputInstagramLink">Link Instagram  (lasciare vuoto se nessuno)</label>
                            <input type="text" class="form-control" id="inputInstagramLink" formControlName="instagram" />
                        </div>
                        <div class="form-group">
                            <label for="inputFacebookLink">Link Facebook  (lasciare vuoto se nessuno)</label>
                            <input type="text" class="form-control" id="inputFacebookLink" formControlName="facebook" />
                        </div>
                        <div class="form-group">
                            <label for="inputLinkedinLink">Link Linkedin (lasciare vuoto se nessuno)</label>
                            <input type="text" class="form-control" id="inputLinkedinLink" formControlName="linkedin" />
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Save Change</button>
                    </form>
                </div>
            </div>
        </div>    
    </div>    
</div>