<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="sm:hidden lg:block">
    <button class="flex bg-primary  text-black pl-8 pr-8 pt-2 pb-2 mb-3 rounded-3xl" (click)="login()">Login</button>

    <app-title title="Il tuo nuovo biglietto da visita NFC!"></app-title>
    
    <button *ngIf="token" class="flex bg-primary  text-black pl-8 pr-8 pt-2 pb-2 mb-3 rounded-3xl" (click)="register()">Sign up</button>
</div>

<div class="lg:hidden">
    <app-title title="Il tuo nuovo biglietto da visita NFC!"></app-title>
    
    <button class="flex bg-primary  text-black pl-8 pr-8 pt-2 pb-2 mb-3 rounded-3xl" (click)="login()">Login</button>
    
    <button *ngIf="token" class="flex bg-primary  text-black pl-8 pr-8 pt-2 pb-2 mb-3 rounded-3xl" (click)="register()">Sign up</button>
</div>
