<div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 text-center">
      <a href="{{ facebook }}" target="_blank">
        <img src="assets/img/facebook.png" alt="Facebook">
      </a>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 text-center">
      <a href="{{ instagram }}" target="_blank">
        <img src="assets/img/instagram.svg.webp" alt="Instagram">
      </a>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 text-center">
      <a href="{{ linkedin }}" target="_blank">
        <img src="assets/img/linkedin.svg.webp" alt="LinkedIn">
      </a>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 text-center">
      <a href="{{ whatsapp }}" target="_blank">
        <img src="assets/img/whatsapp.svg.webp" alt="WhatsApp">
      </a>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 text-center">
      <a href="{{ youtube }}" target="_blank">
        <img src="assets/img/youtube.png" alt="YouTube">
      </a>
    </div>
</div>
  