h4, h5, button, span {
    font-family: 'Roboto';
}

.circle1, .circle2 {
    position: absolute;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(255, 165, 0, 0.7) 0%, rgba(255, 165, 0, 0) 100%);
}
.circle1 {
    width: 300px;
    height: 300px;
    top: 15%;
    left: -5%;
}
.circle2 {
    width: 250px;
    height: 250px;
    top: 60%;
    left: 60%;
}
.obscure {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}