<div class="bg-black h-full w-[100%] absolute top-0 -z-30 overflow-x-clip"> 
    <app-header></app-header>
    <img src="/assets/img/desktop_big_circle.png" class="bigcircle1 -z-20 lg:block sm:hidden">
    <img src="/assets/img/desktop_little_circle.png" class="bigcircle2 -z-20 lg:block sm:hidden">
    
    <img src="/assets/img/big_circle.png" class="circle1 -z-20 lg:hidden">
    <img src="/assets/img/little_circle.png" class="circle2 -z-20 lg:hidden">

    <!--<div class="obscure -z-10"></div>-->
    <div class="flex flex-col items-center w-screen text-primary_text">
        <div class="flex flex-col w-full sm:px-8 lg:px-20 pt-0 rounded-3xl">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>