<div class="flex flex-col mt-10 items-center">
  <div class="flex flex-col w-96 shadow-xl p-8 rounded-3xl">
      <form [formGroup]="myProfileForm" (ngSubmit)="onProfileSubmit()">
          <div class="flex flex-col mb-3 w-80">
              <label for="email">Email</label>
              <input type="text" class="form-control" id="email" formControlName="email" />
          </div>
                  
          <div class="flex flex-col items-center">
              <button type="submit" class="flex bg-primary  text-black pl-8 pr-8 pt-2 pb-2 mb-3 rounded-3xl">Invia email di reset</button>
          </div>
      </form>
  </div>
</div>