<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<div class="flex lg:flex-row lg:justify-between sm:flex-col lg:h-screen lg:align-middle lg:pt-[15%] lg:pr-[5%] lg:pl-[5%]">
  
  <app-title title="Send email" class="flex"></app-title>

  <form [formGroup]="myProfileForm" (ngSubmit)="onProfileSubmit()" class="flex lg:flex-row sm:flex-col">

      <div class="mb-4">
        <div class="flex items-center border-b border-gray-500 py-2">
          <input class="appearance-none bg-transparent border-none w-full text-white mr-3 py-1 px-2 leading-tight focus:outline-none"
          placeholder="E-mail*" type="email" id="email" formControlName="email">
          <span class="text-gray-500">
            <mat-icon class="flex">person</mat-icon>
          </span>
        </div>
      </div>
      <div class="lg:block lg:absolute  lg:top-[55%] lg:right-[5%]">
        <div class="flex flex-col items-center">
            <button type="submit" class="flex bg-primary  text-black pl-8 pr-8 pt-2 pb-2 mb-3 rounded-3xl">Invia</button>
        </div>
      </div>
  </form>
</div>
