<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <div class="card">
          <div class="card-header">
            <h3>Impostazioni</h3>
          </div>

          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <a href="/profile-settings">Impostazioni del profilo personale</a>
              </li>
              <li class="list-group-item">
                <a href="/card-settings">Impostazioni dei dati visualizzati dalla carta</a>
              </li>
              <li class="list-group-item">
                <a href="/card-style-settings">Impostazioni dello stile della carta</a>
              </li>
              <li class="list-group-item">
                <a href="/login">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  