
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="p-10">
  <div class="flex flex-col border ">
      <div class="flex flex-row font-bold">
          <div class="flex w-1/4 border p-2">
            Email
          </div>
          <div class="flex w-1/4 border p-2">
            Azienda
          </div>
          <div class="flex w-1/4 border p-2">
            Carte collegate
          </div>
          <div class="flex w-1/4 border p-2">
            Elimina
          </div>
      </div>

      <div class="flex flex-col" *ngFor="let contact of contacts">
        <div class="flex flex-row">
          <div class="flex w-1/4 border p-2">
            {{ contact.email }}
          </div>
          <div class="flex w-1/4 border p-2">
            {{ contact.company }}
          </div>
          <div class="flex w-1/4 border p-2 justify-center">
            <button (click)="seeContactCards(contact.id)" class="bg-primary w-44 rounded-3xl p-2">Vedi carte</button>
          </div>
          <div class="flex w-1/4 border p-2 justify-center">
            <button (click)="delete(contact)" class="bg-primary w-44 rounded-3xl p-2">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
  </div>
  <div class="flex flex-col w-full items-center">
    <button (click)="addContact()" class="bg-primary w-44 rounded-3xl mt-6 mb-6 p-2">Aggiungi utente</button>
    <button (click)="logout()" class="bg-primary w-44 rounded-3xl p-2">Logout</button>
  </div>
</div>