<div class="p-10">
  <div class="flex flex-col border ">
      <div class="flex flex-row font-bold">
          <div class="flex w-1/12 border p-2">
            ID
          </div>
          <div class="flex w-1/6 border p-2">
            Email
          </div>
          <div class="flex w-1/6 border p-2">
            Nome
          </div>
          <div class="flex w-1/6 border p-2">
            Cognome
          </div>
          <div class="flex w-1/6 border p-2">
            Ruolo
          </div>
          <div class="flex w-1/6 border p-2">
            ID carte collegate
          </div>
      </div>

      <div class="flex flex-row" *ngFor="let user of users">
        <div class="flex w-1/12 border p-2">
          {{ user.id }}
        </div>
        <div class="flex w-1/6 border p-2">
          {{ user.email }}
        </div>
        <div class="flex w-1/6 border p-2">
          {{ user.name }}
        </div>
        <div class="flex w-1/6 border p-2">
          {{ user.surname }}
        </div>
        <div class="flex w-1/6 border p-2">
          {{ user.fk_role }}
        </div>
        <div class="flex w-1/6 border p-2">
          {{ user.fk_role }}
        </div>
      </div>
  </div>
  <div class="flex flex-col w-full items-center">
    <button (click)="addUser()" class="bg-slate-200 w-44 rounded-3xl mt-6 mb-6 p-2">Aggiungi utente</button>
    <button (click)="logout()" class="bg-slate-200 w-44 rounded-3xl p-2">Logout</button>
  </div>
</div>