<h1 mat-dialog-title>Selziona la foto</h1>

<div mat-dialog-content>
    <image-cropper
        [imageFile]="data.image"
        [maintainAspectRatio]="true"
        [aspectRatio]="data.width / data.height"
        [resizeToHeight]="data.height"
        [resizeToWidth]="data.width"
        (imageCropped)="imageCropped($event)"
    ></image-cropper>
</div>

<div mat-dialog-actions>
    <button mat-raised-button >Annulla</button>
    <button mat-raised-button [mat-dialog-close]="result()" >Conferma</button>
</div>