img{
    height: 100px;
    width: 100px;
    border-radius: 100px;
}

.content {
    position: absolute;
    width: 100%;
    padding: 0px 20px;
}

.header {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}

.center {
    text-align: left;
    padding: 20px 0px;
}

.footer {
    padding: 20px 0px;
}

.menu {
    text-align: right;
}

.mydata, .mydata.a {
    vertical-align: middle;
}

a {
    color: black;
    text-decoration: none;
}

button {
    color: white;
    padding: 10px 50px;
    border-radius: 4px;
    border-width: 0px;
    background-color: black;
    font-size: x-small;
}