

<app-title title="Impostazioni card"></app-title>

<form [formGroup]="myStyleForm" (ngSubmit)="onStyleSubmit()">

    <div class="flex flex-col mb-2">
      <div class="flex flex-row justify-between align-middle">
          <img src="{{ card.img }}" class="flex h-36 w-36 mb-3 rounded-full">
          
          <a href="/card/{{card.token}}" class="flex bg-primary text-black text-medium_text h-10 pl-8 pr-8 pt-2 pb-2 mb-3 rounded-3xl">Preview</a>
      </div>
  </div>

    <div class="flex flex-col mb-3 ">
      <label for="img">Image</label>
      <input type="file" accept=".jpg, .jpeg, .png" 
      (change)="processFile($event)" class="form-control" id="img" 
      formControlName="img" placeholder="Image" maxFileSize="5 * 1024 * 1024">
    </div>
    
    <div class="flex flex-row mb-3 ">
        <label for="backgroundColor" class="flex w-4/5">Colore sfondo: </label>
        <input type="color" id="backgroundColor" formControlName="backgroundColor" />
    </div>
    
    <div class="flex flex-row mb-3 ">
        <label for="textColor" class="flex w-4/5">Colore del testo: </label>
        <input type="color" id="textColor" formControlName="textColor"/>
    </div>
    
    <div class="flex flex-row mb-3 ">
        <label for="buttonColor" class="flex w-4/5">Colore del bottone: </label>
        <input type="color" id="buttonColor" formControlName="buttonColor" />
    </div>
    
    <div class="flex flex-col items-center">
        <button type="submit" class="flex bg-primary  text-black pl-8 pr-8 pt-2 pb-2 mb-3 rounded-3xl">Salva</button>
    </div>
</form>
