<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="flex flex-col flex-grow min-h-screen justify-center lg:px-44">
    <div class="flex lg:flex-row sm:flex-col w-full justify-between">
      <div class="flex flex-col">
        <app-title title="Email inviata!"></app-title>
        <app-subtitle subtitle="In caso non arrivasse nella cartella principale, controlla nello spam"></app-subtitle>
    </div>

    <div class="flex flex-col mt-8">
        <button class="flex bg-transparent  text-primary border border-primary pl-8 pr-8 pt-2 pb-2 mb-3 rounded-3xl w-36 justify-center" (click)="login()">Indietro</button>
    </div>
</div>

